<!-- your html code here -->
<nav class=" d-flex justify-content-start navbar navbar-expand-lg lg-body-tertiary gap-3 bg-dark">
    <a class="navbar-brand ms-4 text-secondary" id="information" href="https://getbootstrap.com/docs/5.3/getting-started/introduction/">Start Boostrap</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toogle Navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav gap-3">
            <li class="nav-item">
                <a class="nav-link active text-secondary" href="first_heading.html">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="services.html"> Services </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" aria-current="page" href="portfolio.html">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" aria-current="page" href="contact.html">Contact</a>
            </li>
        </ul>
    </div>
</nav>