<!-- your html code here -->
<div class="container">
  <h1>Porfolio</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quisquam
    officia dicta officiis modi quidem delectus sint. Amet, optio repudiandae ea
    ipsa harum laboriosam, sapiente qui totam, alias minus pariatur.
  </p>
  <div class="row">
    <div class="col-sm-12 col-lg-4">
      <img
        class="img-fluid"
        src="/website/assets/img/big-project-image.png"
        alt="IMG-1"
      />
      <h4 class="text-primary my-2">Projet Name</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
        veritatis nam totam, provident, sit similique tenetur necessitatibus,
        laboriosam inventore modi accusantium. Culpa aliquam necessitatibus ad
        similique saepe sed facilis vitae.
      </p>
    </div>
    <div class="col-sm-12 col-lg-4">
      <img
        class="img-fluid"
        src="/website/assets/img/big-project-image.png"
        alt="IMG-2"
      />
      <h4 class="text-primary my-2">Projet Name</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
        veritatis nam totam, provident, sit similique tenetur necessitatibus,
        laboriosam inventore modi accusantium. Culpa aliquam necessitatibus ad
        similique saepe sed facilis vitae.
      </p>
    </div>
    <div class="col-sm-12 col-lg-4">
      <img
        class="img-fluid"
        src="/website/assets/img/big-project-image.png"
        alt="IMG-3"
      />
      <h4 class="text-primary my-2">Projet Name</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
        veritatis nam totam, provident, sit similique tenetur necessitatibus,
        laboriosam inventore modi accusantium. Culpa aliquam necessitatibus ad
        similique saepe sed facilis vitae.
      </p>
    </div>
  </div>
</div>
